{% extends 'accueil.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

    <div class="container col-md-12">
        <div class="card">
            <div class="card-header">Formulaire de Paramétrage d'utilisateurs</div>
            <div class="card-body">
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                {{ form_start(form) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.password) }}
                    {{ form_row(form.nom) }}
                    {{ form_row(form.prenom) }}
                    {{ form_row(form.email) }}
                    {% if is_granted('ROLE_ADMIN') %}
                        {{ form_row(form.roles, { 'attr': { 'readonly': 'readonly' } }) }}
                    {% endif %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
