{% extends 'accueil.html.twig' %}

{% block title %}Villages{% endblock %}

{% block body %}
    <div class="container col-md-12">
        <br><br>
        <div class="card bg-transparent">
            {#
            <div class="card-body">
                <div class="container-fluid">
                    {{ form_start(formSearch) }}
                    <div class="form-row">
                        <div class="col">
                            {{ form_row(formSearch.numeroAbonnement) }}
                        </div>
                        <div class="col">
                            {{ form_row(formSearch.nomClient) }}
                        </div>
                        <div class="col">
                            {{ form_row(formSearch.compteur) }}
                        </div>
                        <div class="col">
                            {{ form_row(formSearch.village) }}
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    {{ form_end(formSearch) }}
                </div>
            </div>
            #}
            <div class="card-header">Liste des Factures du Compteur "<strong>{{ c.numero }}</strong>"</div>
            <div class="card-body " >
                <table class="table table-striped">
                    <tr>
                        <th>Numéro</th>
                        <th>Prix U</th>
                        <th>Montant</th>
                        <th>Taxe </th>
                        <th>DateLimite</th>
                        <th>Régler</th>
                    </tr>
                    {% for f in factures %}
                        <tr>
                            <td>{{ f.numero }} </td>
                            <td>{{ f.pu }} </td>
                            <td>{{ f.montant }} </td>
                            <td>{{ f.taxe }}</td>
                            <td>{{ f.dateLimite|date('d/m/y') }} </td>
                            <td>
                                <a class="btn
                                    {% if f.etat %}
                                        btn-success" href="#
                                    {% else %}
                                        btn-danger" href="{{ path('afficher_facture',{'id':f.id} ) }}
                                    {% endif %}"
                                   >
                                    <i class="fa fa-hand-holding-usd"></i>
                                </a>
                            </td>
                        </tr>
                    {%endfor%}
                </table>
            </div>
        </br>
    </div>
{% endblock %}
{% block footer %}

{% endblock %}